:root {
    --black: rgb(0,0,0);
    --orange: rgb(230,159,0);
    --blue: rgb(86,190,233);
    --green: rgb(0,158,115);
    --yellow: rgb(240,228,66);
    --dark-blue: rgb(0,114,178);
    --dark-orange: rgb(213,94,0);
    --pink: rgb(204,121,167);
    --white: rgb(255,255,255);
}